* {
  box-sizing: border-box;
  border-style: none;
  overflow: hidden;
  font-family: "Merriweather", "Times New Roman", Times, serif;
}

body {
  text-align: center;
  background-image: url("https://caelum-online-public.s3.amazonaws.com/assets-imersaodev/Background.png");
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 100vh;
}

body > img {
  margin: 0 10px;
}

img {
  max-height: 250px;
}

.container {
  text-align: center;
  padding: 20px;
}

.container .page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.container .page-logo {
  width: 200px;
}

.container .alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.container .input {
  font-size: 14px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 7px;
  background-color: #eff9fe;
  color: #15477f;
}

.container .button {
  font-size: 18px;
  padding: 15px;
  margin: 20px;
  margin-bottom: 0;
  border-radius: 7px;
  background-color: #60c0f4;
  color: #15477f;
}

.container .button:hover {
  background-color: #bfe6fb;
}

.container .results {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px auto 0;
  max-width: 280px;
  height: 100px;
  background-color: #14447c;
  border-radius: 7px;
}

.container .output {
  color: #bfe6fb;
}
